<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Duolingo Crente" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#131F24">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full bg-[#131F24]">
    <% if logged_in? %>
      <%= render "layouts/navbar" %>
      <div class="flex">
        <%= render "layouts/sidebar" %>
        <main class="flex-1 lg:ml-64">
          <div class="py-6 px-4 sm:px-6 lg:px-8">
            <%= render "layouts/flash" %>
            <%= yield %>
          </div>
        </main>
      </div>
      <%= render "layouts/mobile_nav" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
